{% load static %}
<html>
<head>
<title>Deep Learning Anomaly Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>A Unified Deep Learning Anomaly Detection and Classification Approach for Smart Grid Environments</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
         <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'UserLogin' %}">User Login</a></li>
	 <li><a href="{% url 'Signup' %}">New User Signup Here</a></li>
   </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="915" height="286" alt="" /></div>

		{{ data }}

       <p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">Deep Learning Anomaly Detection
</p>
 
 
  </body>
</html>
